@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');

html,body{
    height: 100%;
}

#clock{
    
    color: #fff;
    font-family: 'Bungee Shade', cursive;
    font-size: 70px;
    
    position: relative;
    top: 50%;
    margin-top: -35px;
    text-align: center;

}
